# ipfs can generate profiling dump files
*.cpuprof
*.memprof

*.swp
.ipfsconfig
.dms3fsconfig
*.out
*.coverprofile
*.test
*.orig
*~

coverage.txt
gx-workspace-update.json

.ipfs-fs
.dms3-fs
bin/gx
bin/dms3gx
bin/gx*
bin/dms3gx*
bin/tmp


vendor
.tarball
go-ipfs-source.tar.gz
go-dms3-fs-source.tar.gz
